html, body {
  margin: 0;
  background: #000;
  color: #fff;
}

pre.stars-ascii {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;

  font-family: monospace, monospace;
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: pre;
  font-family: monospace;
  line-height: 1;

  background: #000;
  color: #fff;
  opacity: 0.25;

  transform: scale(1.8);
  transform-origin: center;

  pointer-events: none;
  user-select: none;
  z-index: 0;
}