:root {
  font-family: system-ui, monospace, 'Courier New', Courier, monospace, system-ui, -apple-system;
  white-space: pre;
  line-height: 1;
  font-size: 12;
  overflow-x: auto;
  font-variant-ligatures: none;
}
