html, body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #000;
  color: #fff;
}

pre.stars-ascii {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;

  font-family: monospace, monospace;
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: pre;
  font-family: monospace;
  line-height: 1;

  background: #000;
  color: #fff;
  opacity: 0.25;

  transform: scale(1.8);
  transform-origin: center;
  overflow-x: auto;
  overflow: none;

  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.header {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.ritual-hint {
  margin-top: 8px;
  margin-bottom: 10px;
  opacity: 1;
}

.modeToggle{
  position: fixed;
  top: 14px;
  right: 14px;
  z-index: 9999;
  display: flex;
  gap: 10px;
  background-color: #0000008d;
}

.modeToggle button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgba(0,0,0,0.55);
  border: 1px solid rgba(255,255,255,0.18);
  color: #fff;
  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;
}

.modeToggle button:disabled{
  opacity: 0.50;
  cursor: not-allowed;
}

.stage{
  position: relative;
  width: 100%;
  min-height: 100; 
  overflow: visible;               
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
}

.stage > .fade{
  position: relative;  
  inset: auto;          
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  /* transform: translateY(-50px); */
}

.fade {
  transition: opacity 900ms ease, transform 900ms ease;
}

.fade-out{
  opacity: 0;
  transform: scale(0.98);
  pointer-events: none;
  position: absolute;
  inset: 0;
}
.fade-in{
  position: relative;
}

:root{
  --card-font: 8px;
  --card-line: 1;
}

.flipCard{
  display: inline-block;
}

.ascii.cardAscii{
  font-size: var(--card-font);
  line-height: var(--card-line);
}

.flipInner{
  display: grid;
  transform-style: preserve-3d;
  transition: transform 1500ms cubic-bezier(0.22,1,0.36,1);
}

.flipCard.isFlipped .flipInner{
  transform: rotateY(180deg);
}

.flipSide{
  grid-area: 1 / 1;
  background: #000000cc;
  display: inline-block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  pointer-events:none;
  color: rgba(255,255,255,0.8);
}

.flipBack  { transform: translateZ(1px); }
.flipFront { --rev-rot: 0deg; transform: rotateY(180deg) translateZ(1px) rotate(var(--rev-rot)); }
.flipFront.rev { --rev-rot: 180deg; }

.ascii {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre;
  line-height: 1;
  font-variant-ligatures: none;
  font-size: 8px;
}

.dealRow {
  display: flex;
  gap: 32px;
  margin-top: 0px;
}

.dealCard {
  --delay: calc(var(--i) * 180ms);

  animation: dealIn 700ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: var(--delay);
    perspective: 1400px;

  opacity: 0;
  transform:
    translateY(-220px)
    translateX(40px)
    rotate(-6deg)
    scale(0.96);
}

@keyframes dealIn {
  0% {
    opacity: 0;
    transform:
      translateY(-220px)
      translateX(40px)
      rotate(-6deg)
      scale(0.96);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform:
      translateY(0)
      translateX(0)
      rotate(0deg)
      scale(1);
  }
}
.tiltOuter {
  perspective: 1400px;
  display: inline-block;
  position: relative; 
  z-index: 0;
}

.cardHover {
  transform-style: preserve-3d;
  transition: transform 220ms cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;;
}

@media (hover: hover) and (pointer: fine) {
  .tiltOuter:hover .cardHover {
    transform: scale(1.01); 
    filter: drop-shadow(0 10px 18px rgba(0,0,0,0.55))  drop-shadow(0 0 14px rgba(255,255,255,0.10));
  }
}

.cardColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.meaningWindow { --suit: rgba(255,255,255,0.35); }

.meaningTitle { --suit: rgba(255,255,255,0.35); }

.suit-major      { --suit: #976b00; }
.suit-cups       { --suit: #6a0000; }
.suit-pentacles  { --suit: #053e13; }
.suit-swords     { --suit: #33677a; }
.suit-wands      { --suit: #5a0099; }

.meaningWindow{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 10px);

  padding: 10px 12px;

  background: color-mix(in srgb, var(--suit) 25%, rgba(0, 0, 0, 0.75));
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;

  transition: opacity 180ms ease, transform 180ms ease;
}

.meaningTitle{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 6px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 999px;
  background: color-mix(in srgb, var(--suit) 100%, rgba(0,0,0,0.35));
}

.spreadBoard.cc .meaningWindow{
  max-width: 175px;
  padding: 10px 10px;
}

.spreadBoard.cc .meaningTitle{
  font-size: 12px;
  width: 150px;
  text-align: center;
}

.spreadBoard.ppf .meaningWindow{
  max-width: 350px;
  padding: 10px 10px;
}

.spreadBoard.ppf .meaningTitle{
  font-size: 14px;
  width: 300px;
  text-align: center;
}

.cardFrame{
  display: inline-block;
}

.cardHitArea{
  position: relative;
  display: inline-block;
}

@media (hover: hover) and (pointer: fine) {
  .cardHitArea:hover .meaningWindow{
    opacity: 1;
    transform: translate(-50%, 16px);
  }
}

.spreadToggle button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgba(0,0,0,0.55);
  border: 1px solid rgba(255,255,255,0.18);
  color: #fff;
  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;
  margin-bottom: 50px;
}

.spreadToggle button.active {
  background: #420079;
  color: #ffffff;
  border-color: #0000007b;
  transition: all 500ms ease-in-out;
}

.spreadBoard {
  position: relative;
  z-index: 0;
}

.spreadBoard.ppf {
  position: relative;
  width: min(1920px, 96vw);
  min-height: 1400px;
  height: auto;
  margin-top: 8px;
  overflow: visible;
}

.spreadBoard.cc {
  --card-font: 4px;
  position: relative;
  width: min(1920px, 96vw);
  min-height: 1400px;
  height: auto;
  margin-top: 8px;
  overflow: visible;
}

.slot{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: var(--slot-z, 1);
}

.slot:hover { 
  z-index: 9999; 
}

.spreadBoard.cc .cc-2 > .cardColumn > div:first-child {
  opacity: 1 !important;
  color: #fff;
}

.ritual-ui{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ritualMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 520px; 
}


.spreadToggle{
  position: relative;
  z-index: 10;
  margin-bottom: 24px;
}

.ritual-ui > div[style*="inline-block"]{
  position: relative;
  z-index: 1;
}

