.deck {
  position: relative;
  width: 260px;
  height: 360px;
  margin: 24px auto;
  pointer-events: none;
}
.cardBack {
    position: absolute;
    width: 260px;
    height: 360px;
    top: 35%;
    left: 50%;

    transform:
        translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
        rotate(var(--r))
        scale(var(--s));

    transform-origin: center;
    will-change: transform;
    transition: transform 750ms ease;
}

.cardBack .cardImg {
  width: 100%;
  height: 100%;
  user-select: none;
}

.cardBack.flingOverlay {
    transition: none;
    animation: flingToBack 1000ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes flingToBack {
    0% {
    transform:
    translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
    rotate(var(--r))
    scale(var(--s));
    }

    55% {
    transform:
    translate(calc(-50% + var(--x) + 300px), calc(-50% + var(--y) - 210px))
    rotate(calc(var(--r) + 30deg))
    scale(calc(var(--s) + 0.08));
    }

    100% {
    transform:
    translate(calc(-50% + var(--bx)), calc(-50% + var(--by)))
    rotate(var(--br))
    scale(var(--bs));
    }
}
